.product-list-item {
  display: table-row;
  padding: 5px 0;
  align-items: center;
  vertical-align: middle;
}

.product-list-item:nth-child(even){
  background: #fff114;
  color: rgb(0, 0, 0);
}
.product-list-item:nth-child(odd){
  background: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
}

.product-list-item-prop {
  padding: 10px;

  display: table-cell;
  vertical-align: middle;
}

.product-list-item-prop.name {
  font-size: 1.1em;
  font-weight: bold;
  color: #38b719;
  max-width: 100%;
  min-width: 250px;
}

.product-list-item-prop.image {
  width: 150px;
  min-width: 100px;
}
.product-list-item-prop.image img {
  max-width: 100%;
}

.description p{
  margin-top: 0px;
}
.description ul, ol {
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.brand {
  font-weight: bold;
  color: #dc0a0a;
}
.barcode {
  color: #dc0a0a;
}

@media(max-width: 991px) {
  .product-list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .product-list-item-prop {
    width: 100%;
  }
  .product-list-item-prop.description {
    text-align: justify;
  }
}